*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrraper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 60px;
    font-weight: bold;
    float: left;
    font-family: 'century ghotic';
    color: #176B87; 
}

.menu {
    float: right;
}
    
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #D4E2D4;   
    z-index: 1;
    border: 1px solid #176B87;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a{
    color: #E48586;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
   
nav ul a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'calibri';
    color: #E48586;
    
}

h2 {
    display: flex;
    font-family: 'calibri';
    font-weight: 900;
    font-size: 55px;
    margin-bottom: 20px;
    color: #4B8E8D;
    width: 100vh;
    line-height: 60px;
    text-align: left;
    
}

.kolom h2{
    display: flex;
}



a.tbl-biru:hover {
    background: #91C8E4;
    text-decoration: none;

}

a.tbl-biru {
    background: #5A96E3;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: aliceblue;
    cursor: pointer;
    font-weight: bold;

}

a.tbl-biru:hover {
    background: #FEBBCC;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;

}

#contact {
    background: #C0DEFF;
    padding:50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'calibri';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #176B87;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px opx;
    margin-top: 50px;
}

.kolom {
    margin-left: 100px;
    margin-right: 100px;
}

